.delete-cart-all {
    background: #FE980F;
    border-radius: 0;
    color: #FFFFFF;
    margin-top: 18px;
    border: none;
    padding: 5px 15px;
}
.badge {
    background: #FE980F;
}
.cart_quantity_button a {
    color: #000000;
}
.cart_quantity_button .clicked {
    background-color: #ABABA9;
}
.breadcrumbs .breadcrumb {
    margin-bottom: 0px;
}
.shopper-informations input {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    font-weight: 300;
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
    text-align: center;
}
.shopper-informations textarea {
    height: unset;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    font-weight: 300;
    border-radius: 4px;
    background: unset;
}
.shopper-informations input#name {
    background-color: unset;
}