.delete-cart-all {
    background: #FE980F;
    border-radius: 0;
    color: #FFFFFF;
    margin-top: 18px;
    border: none;
    padding: 5px 15px;
}
.badge {
    background: #FE980F;
}
.cart_quantity_button a {
    color: #000000;
    cursor: auto;
}
.cart_quantity_button .clicked {
    background-color: #ABABA9;
}
.breadcrumbs .breadcrumb {
    margin-bottom: 0px;
}
.shopper-informations input {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    font-weight: 300;
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
    text-align: center;
}
.shopper-informations textarea {
    height: unset;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    font-weight: 300;
    border-radius: 4px;
    background: unset;
}
.shopper-informations input#name {
    background-color: unset;
}
.box {
    margin-bottom: 22px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0,0,0,.05);
}
.cart_product {
    display: block;
    margin: 15px 2px 10px 25px;
}
.cart_description {
    word-wrap: break-word;
    max-width: 300px;
}
#slider-text{
    padding-top: 40px;
    display: block;
}
#slider-text .col-md-6{
    overflow: hidden;
}
 
#slider-text h2 {
    font-family: 'Josefin Sans', sans-serif;
     font-weight: 400;
    font-size: 30px;
    letter-spacing: 3px;
    margin: 30px auto;
     padding-left: 40px;
}
#slider-text h2::after{
    border-top: 2px solid #c7c7c7;
    content: "";
    position: absolute;
    bottom: 35px;
    width: 100%;
  }
 
#itemslider h4{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin: 10px auto 3px;
}
#itemslider h5{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin: 3px auto 2px;
}
#itemslider h6{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;;
    font-size: 10px;
    margin: 2px auto 5px;
}

.single-image {
    max-width:150px;
    height:auto;
    clear:both;
    display:block;
    padding:2px;
    border:1px solid #ddd;
    margin-bottom:10px;
}
.multi_image {
    max-width:50px;
    height:auto;
    clear:both;
    display:block;
    padding:2px;
    border:1px solid #ddd;
    margin-bottom:5px;
}
.remove-single-image, .remove-multi-image {
    color: #72afd2;
}

.remove-single-image:hover, .remove-multi-image:hover {
    color:#000;
}
.action-admin {
    min-width: 200px;
}
.total-result.shopping-cart{
    font-weight: bold;
    font-size: 24px;
}
.checkout-button {
    margin-bottom: 30px;
}
.control-label.required::after {
    content: '*';
    color: #e02b27;
    font-size: 1.2rem;
    margin: 0 0 0 5px;
}
.inputError .fa-times-circle-o, .help-block {
    color: #e02b27;
}
.item .pad06:nth-child(4n+1) {
    clear: both;
}